#.*  # ignore all hidden files and folders
**/.ipynb_checkpoints/*.ipynb
**/__pycache___/*
*.pyc
*.ipynb
*.pickle
*.csv
*.npy
*.pdf
*.o
*.so
*.png
*.zip
*.lib
*.def
*.a
*.bin
*.win
*.dev
*.ex5
*.obj
*.exp
*.dll
*.ini
*.sln
*.vcxproj*
*.txt
*.vs
*.pdb
*.exe
*.ilk
*.log
*.tlog
*.idb
*.enc
*.TMP
